{{!-- Edit and delete posts --}}

<form id="edit-post-form">
    <div>
        <input name="post-id" type="hidden" value="{{post.id}}">
        <input name="post-title" type="text" value="{{post.title}}" />
    </div>
    <div>
        <textarea name="post-body" type="text">{{post.post_body}}</textarea>
    </div>
    <div>
        <button type="submit" class="btn edit-post-form">Submit Post</button>
        <button type="button" class="btn delete-btn">Delete Post</button>
    </div>
</form>