{{!-- TODO signup not creating new user --}}

<form class="signup-form">
  <div>
    <label for="username-signup">Username:</label>
    <input type="text" id="username-input-signup" />
  </div>
  <div>
    <label for="password-signup">Password:</label>
    <input type="password" id="password-input-signup" />
  </div>
  <div>
    <button class="btn" type="submit" id="signup-form">Sign Up</button>
  </div>
</form>

<script src="/js/signup.js"></script>